out/
.idea/workspace.xml
.idea/tasks.xml
.gradle/
build/
.idea
src/test
.idea/dictionaries/Chris_Najar.xml
build.gradle
mediafire-sdk.iml
src/main/tests
Users
gradlew
gradlew.bat
settings.gradle
wq
jars
gradle
out